$font-family-global: 'TTLakes', sans-serif;

$color-white: #FFFFFF;
$color-slate-gray: #6B7B84;
$color-light-slate-gray: #80949F;
$color-pale-blue: #7E7E82;
$color-black-and-blue: #1B1C21;
$color-radical-red: #FF3E79;
$color-light-cyan: #41F6D7;
$color-cyan-light: #D9FFF5;
$color-smoky-white: #F8F8F8;
$color-pang: #B8FFEC;
$color-white-smoky: #EAEAEA;
$color-cyan-light: #D9FFF5;
$color-Cadet-blue-crayola:#B5B6BC;
$color-linear-gradient: linear-gradient(45deg, hsla(0,0,97,1), hsla(0,0,97,.01));

$screen-table: 768px;
$screen-desktop: 1440px;
