@import "fonts";
@import "libraries";
@import "variables";
@import "mixins";
@import "base";

@import "./components/header";
@import "./components/aside";
@import "./components/cps-popap";
@import "./components/servec-content";
@import "./components/service-brands";
@import "./components/service-type";
@import "./components/service-price";
@import "./components/footer";

.services-item--active {
	display: flex;
}

.btn--menu,
.btn--active{
	display: flex;
}

@media (min-width: $screen-table) {
	.btn--menu,
	.btn--active{
		display: flex;
		z-index: 100;
		
	}
	.btn--menu {
		&::before {
		left: 360px;
		}
	}

	.btn--menu-bg {
		content: "";

		position: fixed;

		top:0;
		right: 440px;
		left: 360px;
		display: block;
		width: 100vw;
		height: 100vh;

		background-color: $color-white;
		opacity:.9;
		z-index: 99;
	}

	.popup-bg {
		content: "";

		position: fixed;

		top:0;
		right: 440px;
		display: block;
		width: 100vw;
		height: 100vh;

		background-color: $color-white;
		opacity:.9;
		z-index: 99;
	}

}


.all-open--active {
	height: 434px;
	transition: height .7s ease;
}
.all-open-content--active {
	height: 334px;
	transition: height .7s ease;
}

.cps-aside__bg {
	position: fixed;

	top:0;
	left: 360px;
	display: block;
	width: 100vw;
	height: 100vh;

	background-color: $color-white;
	opacity:.9;
	z-index: 11111119;
}
.cps-popap__bg {
	position: fixed;

	top:0;
	right: 440px;
	display: none;
	width: 100vw;
	height: 100vh;

	background-color: $color-white;
	opacity:.9;
	z-index: 99;
}
@media (min-width: $screen-desktop){
	.cps-aside__bg {
		display: none;
	}
}
@media (min-width: $screen-table){
	.cps-popap__bg {
		display: block;
	}
}
